@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-align: center;
}
